DATABASE_URL=postgres://postgres:postgres@localhost:5432/tackup
# openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
# https://console.cloud.google.com/apis/credentials
# Redirect URI: http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
